<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Loginsignup"
        tools:targetApi="31">

        <!-- MainActivity should be exported as it's the launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- Set to true for launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DashboardActivity should not be exported since it's internal -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" /> <!-- Set to false if only accessible from within your app -->

        <!-- GroupInfoActivity is internal -->
        <activity
            android:name=".GroupInfoActivity"
            android:exported="false" /> <!-- Set to false for internal activities -->

        <!-- PlayerActivity is internal -->
        <activity
            android:name=".PlayerActivity"
            android:exported="false" /> <!-- Set to false for internal activities -->

        <!-- SongListActivity should be exported as it's the launcher for the music player -->
        <activity
            android:name=".SongListActivity"
            android:exported="true"> <!-- Set to true for this launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
